
<style> 
    div.scroll { 
     margin:4px, 4px; 
     padding:4px; 
  
     width: 100%; 
     height: 180px; 
     overflow-x: hidden; 
     overflow-x: auto; 
     text-align:justify; 
     background-color:rgba(0, 0, 0, 0.301);
    } 
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    </style>
  
  
  
  
  <div class="card-header" style="margin-left: 17%;">
      <h3 class="card-title">
        <i class="fas fa-bullhorn"></i>
        Forum Reports
      </h3>
    </div>
  
  
    <br><br>
  
  <div class="row" style="width: 100%;">
    
  
    <div class="col-md-8" style="margin-left: 25%">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-bullhorn"></i>
           Report Details 
          </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
  
          <div class="callout callout-info" >
            <h5>Title : {{det.title}}</h5>
            <h3>Report Sender  :    {{det.sender.username}}</h3>
            <p>Report Date  :    {{det.addtime | date:'short'}}</p> 
            <p>Description  :    {{det.description}}</p> 
            <h5 class="nk-decorated-h-2"><span><span class="text-main-1">Coupon  </span>  ID : </span> {{couponid}}</h5>
            <table class="table table-dark">
                <thead>
                  <tr >
                
                    <th scope="col">match id </th>
                    <th scope="col">Match Time </th>
                    <th scope="col">team1 vs team 2 </th>
                    <th scope="col">who will win </th>
                    <th scope="col">winner</th>
                    <th scope="col">result</th>
                    <th scope="col">check</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of bcop" >
                   
                    <td>{{item.matchid}}</td>
                    <td>{{item.Playedat| date:'short'}}</td>
                    <td>{{item.team1}} vs {{item.team2}}</td>
                    <td>{{item.whowillwin}}</td>
                    <td>{{item.winner}}</td>
                    <td *ngIf="item.result === 'en cours' " >  <i  class="fas fa-info-circle" style="color: sandybrown;"></i></td>
                    <td *ngIf="item.result === 'correct'" > <i class="fas fa-check-circle" style="color: springgreen;"></i></td>
                    <td *ngIf="item.result === 'wrong'" > <i class="fas fa-times-circle" style="color:tomato;"></i></td>
                    <td><span  class="nk-forum-action-btn">
                        <a class="nk-anchor"     ><span class="fa fa-info-circle" (click)="loadgame(item)" aria-hidden="true" data-toggle="modal" data-target="#modalThread" ></span> </a>
                    </span></td>
                   
                  </tr>
                  <tr>
                    <div class="nk-gap"></div>
                  </tr>
                  
                  <tr>
                    <td *ngIf="coupstatus === 'en cours' " > Coupon Status :  <i  class="fas fa-info-circle" style="color: sandybrown;"></i></td>
                    <td *ngIf="coupstatus === 'won'" > Coupon Status :  <i class="fas fa-check-circle" style="color: springgreen;"></i></td>
                    <td *ngIf="coupstatus === 'lost'" > Coupon Status :  <i class="fas fa-times-circle" style="color:tomato;"></i></td>
                    <td>Pay Status :   {{paystatus}}  </td>
                 
                  </tr>
                
                </tbody>
              </table>
            <div class="column" style="align-self: center;">
                <button type="button" class="btn btn-block bg-gradient-success" style="width: 40%;height: 40px;margin-left: 40%;align-self: center;margin-bottom: 12px;" (click)="dismissreport()" >Dismiss report</button>
                <button type="button" class="btn btn-block bg-gradient-warning" style="width: 40%;height: 40px;margin-left: 40%;align-self: center;margin-bottom: 12px;"  (click)="acceptreport()">Accept Report and pay </button>

            </div>
          </div>
          
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  
  <br> <br><br>
  <div class="nk-modal modal fade" id="modalThread" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>

                <h4 class="mb-0"><span class="text-main-1">Match Result </span> Check</h4>

                <div class="nk-gap-1"></div>
                <form action="#" class="nk-form text-balck">
                    <div class="row vertical-gap">
                        <div class="col-md-9">
                           
                           

                            <div class="nk-gap"></div>
                            <h4>Team 1 :  {{modalitem.team1}}</h4>

                            <div class="nk-gap"></div>
                            <h4>Team 2 : {{modalitem.team2}} </h4>

                            <div class="nk-gap"></div>
                            <h4>Winner : {{sgr.result}} </h4>

                            <div class="nk-gap"></div>
                          
                        </div>
                        
                        
                                
                         
                       
                        
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div class="col-md-6" style="align-content: center;">
                            
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-snotify></ng-snotify>