
<style> 
    div.scroll { 
     margin:4px, 4px; 
     padding:4px; 
  
     width: 100%; 
     height: 180px; 
     overflow-x: hidden; 
     overflow-x: auto; 
     text-align:justify; 
     background-color:rgba(0, 0, 0, 0.301);
    } 
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    </style>
  
  
  
  
  <div class="card-header" style="margin-left: 17%;">
      <h3 class="card-title">
        <i class="fas fa-bullhorn"></i>
        Forum Reports
      </h3>
    </div>
  
  
    <br><br>
  
  <div class="row" style="width: 100%;" *ngFor="let hel of listbanneduserss">
    
  
    <div class="col-md-6" style="margin-left: 30%">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">
           
               
               
                  <a href="#" class="d-block">{{hel.username}}</a>
            
          </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body" style="align-content: center;" >
          
          <div class="callout callout-info"  >
              <div style="display: flex;align-content: center;" >
            <img height="100" style="align-self: center; margin: auto;"  class="img-circle elevation-2" src="http://localhost:1337/avatars/{{hel._id}}.jpg">
        </div>
            <p style="margin-top: 15px;">FirstName : {{hel.firstName}}</p>
            <p>Report FirstName : {{hel.lastName}}</p> 
            <p>Date of birth : {{hel.dob | date:'short' }}</p> 
            <p>Email : {{hel.email}}</p>
            <button type="button" class="btn btn-block bg-gradient-info" style="width: 20%;margin-left: 70%;"  (click)="unbanuser(hel)">unban user</button>
          </div>
          
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  
  <br> <br><br>
  

  
  <ng-snotify></ng-snotify>