
<style> 
  div.scroll { 
   margin:4px, 4px; 
   padding:4px; 

   width: 100%; 
   height: 180px; 
   overflow-x: hidden; 
   overflow-x: auto; 
   text-align:justify; 
   background-color:rgba(0, 0, 0, 0.301);
  } 
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  </style>




<div class="card-header" style="margin-left: 17%;">
    <h3 class="card-title">
      <i class="fas fa-bullhorn"></i>
      Tournament Requests
    </h3>
  </div>


  <br><br>

<div class="row" style="width: 100%;">
  

  <div class="col-md-6" style="margin-left: 30%">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-bullhorn"></i>
          League Of Legends
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

        <div class="callout callout-info" *ngFor="let hel of hell">
          <h5>{{hel.tournamentname}}</h5>

          <p>Start Date : {{hel.startdate}}   {{hel.starttime}}</p> 
          <button type="button" class="btn btn-block bg-gradient-info" style="width: 20%;margin-left: 70%;" (click)="toTournamentDetail(hel)">Check</button>
        </div>
        
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>

<br> <br><br>

<div class="row" style="width: 100%;">
  

  <div class="col-md-6" style="margin-left: 30%">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-bullhorn"></i>
          Hearthstone
        </h3>
      </div>
      <!-- /.card-header -->

    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>

<br> <br><br>
<div class="row" style="width: 100%;">
  

  <div class="col-md-6" style="margin-left: 30%">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-bullhorn"></i>
          Fortnite
        </h3>
      </div>
      <!-- /.card-header -->

    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>

<br> <br><br>
<div class="row" style="width: 100%;">
  

  <div class="col-md-6" style="margin-left: 30%">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-bullhorn"></i>
          Overwatch
        </h3>
      </div>
      <!-- /.card-header -->

    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>

<br> <br><br>
